
<h2>{{title}}</h2>
<ul>

	<div> 
	<ul class="row-fluid block-grid-3 employee-grid">
	
		<li><img src="assets/images/{{person.id}}.jpg" alt="employee image" width= "150" height= "auto">
		<ul>
		
			
			{{#if isShowing}}
			<div {{action 'nameShow'}}>
			<li><p>{{person.position}}</p></li>
			<li ><p>{{person.name}}</p></li>
			</div>

			{{else}}

			<li {{action 'nameHide'}}><p>{{person.position}}</p></li>
		{{/if}}
		</ul>
	</li>		
	</ul>
	</div>

	



</ul>

{{yield}}
