


<h2>{{title}}</h2>

<div>
	<div> 
	<img src="assets/images/{{person.id}}.jpg" alt="employee image" width= "150" height= "auto">
		
		
			
			{{#if isShowing}}
			<div {{action 'nameShow'}}>
			{{person.position}}
			{{person.name}}
			</div>

			{{else}}

			<p {{action 'nameHide'}}>{{person.position}}</p>
		{{/if}}

	</div>
</div>
	





{{yield}}
